* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pageHeader{
    text-align: center;
    color: red;
    font-size: 28px;
}

#pageContainer{
    padding: 20px 100px;
    max-width: 720px;
}

#gridContainer{
    display: grid;
    height: 720px;
    width: 720px;
    border: 1px solid black;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--numColumns), 1fr);
    grid-template-columns: repeat(var(--numRows), 1fr);
}

.gridCell
{
    padding: 1em;
    border: 1px solid blue;
    text-align: center;
}

#settingsContainer{
    padding: 10px 50px;
}